<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript">
</script>
<style type="text/css">  
  #body{
  			margin:0;
  			padding:0;
  			background-color:#070716;
  		}
  		#logodiv{
  			align:center;
  			padding-left:500px;
  			padding-top: 30px;
  			
  		  }
  		  #logodiv1{
  			align:center;
  			padding-left:510px;
  			padding-top: 0px;
  			
  		  }
 </style> 		
</head>

<body id="body">
<div id="logodiv">
  			<img src="/css/Login.PNG" />
 </div>
 <div id="logodiv1">
    <a href="/userlogin1">
    <img src="/css/Login_rider.PNG" />
    </a>
 </div>
 </br>
 <div id="logodiv1">
    <a href="/driverlogin">
    <img src="/css/Login_Driver.PNG" />
    </a>
 </div>
 <div id="logodiv1">
    <a href="/userlogin_admin">
    <img src="/css/Login_Driver.PNG" />
    </a>
 </div>
  			
</body>
</html>