<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>UBER Application</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<!-- Wrap all page content here -->
<div id="wrap">

 
<header class="masthead">

<!-- Fixed navbar -->
<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav" >
    <div class="container" align="center">
      
      <div class="navbar-brand page-scroll" href="#page-top"><p align="center"> <img src="https://2q72xc49mze8bkcog2f01nlh-wpengine.netdna-ssl.com/wp-content/uploads/2011/12/Horizontal-Dark.png" width="120" height="30"> WANT TO DRIVE WITH UBER?</p></div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a href="/signIn" class="btn btn-primary btn-lg active" role="button" style="margin-top: 12px">SIGN IN HERE</a>
      </div>
    </div><!--/.container -->
</div><!--/.navbar -->
  

  	<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <!-- <img src="http://rideshare.services/wp-content/uploads/2015/04/uber-promotion-code.jpg"> -->
          <img src="http://1.bp.blogspot.com/-oE9l8RcYgqk/T4k4c3fWhTI/AAAAAAAAEPk/_pZZ-Rw_7cI/s1600/Auto%2BCollision%2BRepair%2BMilwaukee.jpg">

          <div class="container">
            <div class="carousel-caption">
              <h2>YOUR CAR, YOUR SCHEDULE, YOUR MOVE</h2>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://www.iafrikan.com/content/images/2014/12/Uber-Johannesburg.jpg">
          <!-- <img src="http://blogs-images.forbes.com/ellenhuet/files/2014/11/travis-e1416346466418.jpg"> -->
          <div class="container">
            <div class="carousel-caption">
              <h2> YOUR RIDE, ON DEMAND </h2>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://blogs-images.forbes.com/ellenhuet/files/2014/09/uber-e1409870159455-1940x1089.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h2>AVAILABLE LOCALLY, EXPANDING GLOBALLY</h2>
              <p></p>
            </div>
          </div>
        </div>       
      </div><!-- /.carousel-inner -->

      <div class="logo"><h1 class="content__headline" >YOUR RIDE, ON DEMAND</h1><h3 class="content__subheadline primary-font primary-font--semibold text--uppercase gamma">TRANSPORTATION IN MINUTES WITH THE UBER APP</h3>
      
        <a href="signup_driver" class="btn btn-primary btn-lg active" role="button">SIGN UP DRIVER</a>
        <a href="signuprider" class="btn btn-primary btn-lg active" role="button">SIGN UP 'RIDER</a>
         
        
      </div>
      <!-- <div class="logo">The Firm</div>  -->
      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>  
    </div>
    <!-- /.carousel -->
  
</header>
  
<!-- Begin page content -->
<!-- <div background="bgImage.jpg"> -->
<!-- <div class="divider" id="section1"></div> -->
  
<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-header text-center">
      <h1>THE UBER APP</h1>
    </div>
    
    <p class="lead text-center"> 
      Request, ride, and pay via your mobile phone
    </p> 
    
    <hr>
    
  </div>
</div>
    
<!-- <div class="divider"></div> -->
  
<div class="divider" id="section3"></div>
  
<div class="bg-4">
  <div class="container">
	<div class="row">
	   <div class="col-sm-4 col-xs-6" border=1>
      
        <div class="panel panel-default">
        <div class="panel-thumbnail"><a href="#" title="ONE TAP TO RIDE"><img src="css/boxImage.png" class="img-responsive" width="300" ></a></div>
          <div class="panel-body">
            <p align="center">   ONE TAP TO RIDE</p>
            <p></p>

          </div>
          <div class="overlay"></div>
        </div><!--/panel-->
      </div><!--/col-->
      
      <div class="col-sm-4 col-xs-6">
      
      	<div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#" title="RELIABLE PICKUP"><img src="css/boxImage.png" class="img-responsive" width="300"></a></div>
          <div class="panel-body">
            <p align="center">RELIABLE PICKUP</p>
            <p></p>
            
          </div>
        </div><!--/panel--> 
      </div><!--/col-->
      
      <div class="col-sm-4 col-xs-6">
      
      	<div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#" title="CLEAR PRICING"><img src="css/boxImage.png" class="img-responsive" width="300"></a></div>
          <div class="panel-body">
            <p align="center">CLEAR PRICING</p>
            <p></p>
            
          </div>
        </div><!--/panel--> 

      </div><!--/col--> 
      
      <div class="col-sm-4 col-xs-6">
      
      	<div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#" title="CASHLESS & CONVINIENT"><img src="css/boxImage.png" class="img-responsive" width="300"></a></div>
          <div class="panel-body">
            <p align="center">CASHLESS & CONVINIENT</p>
            <p></p>
            
          </div>
        </div><!--/panel--> 

      </div><!--/col--> 
      
      <div class="col-sm-4 col-xs-6">
      
      	<div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#" title="FEEDBACK MATTERS"><img src="css/boxImage.png" class="img-responsive" width="300"></a></div>
          <div class="panel-body">
            <p align="center">FEEDBACK MATTERS</p>
            <p></p>
            
          </div>
        </div><!--/panel--> 

      </div><!--/col--> 
      
      <div class="col-sm-4 col-xs-6">
      
      	<div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#" title="SPLIT YOUR FARE"><img src="css/boxImage.png" class="img-responsive" width="300"></a></div>
          <div class="panel-body">
            <p align="center">SPLIT YOUR FARE</p>
            <p></p>
            
          </div>
        </div><!--/panel--> 

      </div><!--/col--> 
      
	</div><!--/row-->
  </div><!--/container-->
</div>

<div class="divider"></div>

<div align="center" style="background-color:#110F24"><br><h1 style="color:white">CHOICE IS A BEAUTIFUL THING</h1>
    <h3 style="color:white">Get a ride that matches your style and budget</h3>
  <section class="bg-3" height="800">
  <!-- <div class="col-sm-6 col-sm-offset-3 text-center"> -->
    <!-- <h3 style="padding:10px;background-color:rgba(5,5,5,.8)">Options</h3> -->    
</section>

</div>

<!-- </div>background image closing div  -->

    <div class="divider" id="section4"></div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
  </div>
</div>
  
<div class="row">
  
  <div class="col-sm-10 col-sm-offset-1">
      <h1>Location</h1>
  </div>   
       
  <div id="map-canvas"></div>
  
  <hr>
  
  <div class="col-sm-8"></div>
  <div class="col-sm-3 pull-right">

      <address>
        The Firm, Inc.<br>
        <span id="map-input">
        1500 Main Street<br>
        Springfield, MA 01115</span><br>
        P: (413) 700-5999
      </address>
    
      <address>
        <strong>Email Us</strong><br>
        <a href="mailto:#">first.last@example.com</a>
      </address>          
  </div>
  
</div><!--/row-->
  
<div class="divider" id="section5"></div>  

<!--/wrap-->

<footer class="global-footer js-global-footer yui3-g" style="right: 0px;">
  <div class="grid-locked">

    <article class="social yui3-u-1-3 yui3-u-s-1">
      
      <a href="https://www.facebook.com/uber" target="_blank" class="icon icon-facebook ga-click-track" data-ga="global-footer.facebook-button-click"></a>
      

      
      <a href="https://twitter.com/uber" target="_blank" class="icon icon-twitter ga-click-track" data-ga="global-footer.twitter-button-click"></a>
      

      
      <a href="http://www.linkedin.com/company/1815218" target="_blank" class="icon icon-linkedin_box ga-click-track" data-ga="global-footer.linkedin-button-click"></a>
      

      
      <a href="https://instagram.com/uber/" target="_blank" class="icon icon-instagram ga-click-track" data-ga="global-footer.instagram-button-click"></a>
      
    </article>

    
    

    <article class="navs yui3-u-1-3 res-s-hidden">

      
      
      <a href="/sign-up" class="sign-up ga-click-track js-signup-or-dl-cta js-signup-btn" data-ga="global-footer.sign-up-button-web-click">
        Sign up for Uber
      </a>
      
      

      <nav class="primary">
        <a href="/" class="ga-click-track" data-ga="global-footer.home-button-click">
          Home
        </a>
        <span>•</span>
        <a href="/cities" class="ga-click-track" data-ga="global-footer.cities-button-click">
          Cities
        </a>
        <span>•</span>
        <a href="//partners.uber.com/drive" class="ga-click-track" data-ga="global-footer.drivers-button-click">
          Drive
        </a>
      </nav>
      <nav class="secondary">
        <a href="//help.uber.com" target="_blank">
          Help Center
        </a>
        <a href="/jobs" class="ga-click-track" data-ga="global-footer.jobs-button-click">
          Careers
        </a>
        <a href="//developer.uber.com" target="_blank">
          Developers
        </a>
        <a href="//blog.uber.com" target="_blank">
          Newsroom
        </a>
        <a href="/about" class="ga-click-track" data-ga="global-footer.about-button-click">
          About Us
        </a>
      </nav>

      
      <a class="current-lng">
        English
      </a>

    </article>

    
    <article class="downloads yui3-u-1-3 res-s-hidden">
      <a href="https://itunes.apple.com/us/app/uber/id368677368?mt=8" target="_blank" class="apple-store ir ga-click-track" data-ga="global-footer.apple-store-button-click">Apple Store</a>
      <a href="https://play.google.com/store/apps/details?id=com.ubercab" target="_blank" class="google-play ir ga-click-track" data-ga="global-footer.google-play-button-click">Google Play Store</a>
      <a href="https://www.windowsphone.com/s?appid=b905a877-bd55-4ce7-a7aa-467cdc3a21f4" target="_blank" class="windows-store ir ga-click-track" data-ga="global-footer.windows-store-button-click">Windows Store</a>
    </article>
    

  </div>

  <div class="grid-locked legal-footer-text">
    <div class="yui3-u-1 label">
      <a href="/legal/terms">Terms and Conditions</a>
      <br>
      <a href="/legal/privacy/users">Privacy Policy</a>
      
    </div>
  </div>
</footer>

	<!-- script references -->
		<script src="js/jquery-2.1.4.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>